@mixin partLayout($direction: row, $themeDark: true)  {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  @if $themeDark {
    background-color: $darkColor;
    color: $lightColor;
  } @else {
    background-color: $lightColor;
    color: $darkColor;
  }
}

.header {
  @include partLayout(column, true );
  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__button {
    background-color: $mediumColor;
    color: $lightColor;
    &:hover{
      background-color: $lightColor;
      color: $darkColor;
    }
    &::after {
      content: "Hellooooo";
    }
  }
}